
//  Importing base styles for the project
@import base

//  Importing CSS files for the project
@import form
@import flexbox
@import bookinfo
@import btrapicons



//  Importing bootstrap for the project
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")

//  Importing fonts for the project
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")

#app  
  padding: 2vw
  margin: 0 auto
  font-weight: normal

  a
    padding: 1vw
    
  .green
    transition: 0.4s
    text-decoration: none
    color: rgba(0, 179, 119, 1)

@media (hover: hover)
  a:hover
    background-color: hsla(160, 100%, 37%, 0.2)

@media (min-width: 1024px)
  main
    place-content: center

  #app
    padding: 0 2rem

    section
      section
        margin-block: 1vh

    header, main, footer
      padding: 1vh